.friendsList {
  list-style: none;
  display: flex;
  gap: 20px;
  width: 600px;
  margin: 20px auto;
}
.friendItem {
  display: grid;
  justify-items: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #000;
  width: calc((100% - 80px) / 5);
}
.friendName {
  font-size: 20px;
  padding-top: 10px;
}
.green {
  color: green;
}
.red {
  color: red;
}
