table {
  margin: 20px auto;
  border-collapse: collapse;
}
td,
th {
  padding: 5px 65px;
  border: 1px solid #292929;
}
td:first-letter {
  text-transform: uppercase;
}
.header tr {
  background-color: #292929;
  color: white;
  font-weight: bold;
}
tbody tr.string:nth-child(even) {
  background-color: #d3d3d3;
}
